<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SMAS Katolik St. Albertus Malang</title>
        <link rel="stylesheet" href="/pages/assets/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div class="footer">
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="/index.html">Beranda</a></li>
                    <li><a href="/pages/profil.html">Profil</a></li>
                    <li><a href="/pages/akademik.html">Akademik</a></li>
                    <li><a href="/pages/kesiswaan.html">Kesiswaan</a></li>
                    <li><a href="/pages/berita.html">Berita</a></li>
                    <li><a href="/pages/galeri.html">Galeri</a></li>
                    <li><a href="/pages/ppdb.html">PPDB</a></li>
                    <li><a href="/pages/kontak.html">Kontak</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Kontak</h4>
                <p>Jl. Talang No. 1,<br>Malang, Jawa Timur</p>
                <p>(+62) 341 564556</p>
                <p>sma@dempoku.com</p>
                <p>Hotline : +62 813 3006 9700</p>
                <p>Tata Usaha : +62 812 4974 9964</p>
            </div>
        </div>
    </body>
</html>