<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SMAS Katolik St. Albertus Malang</title>
        <link rel="stylesheet" href="/pages/assets/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div class="footer-middle">
            <div class="footer-col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="#beranda">Beranda</a></li>
                    <li><a href="jurusan.html">Jurusan</a></li>
                    <li><a href="kontak.html">Kontak</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Informasi</h4>
                <ul>
                    <li><a href="https://pmb.st-albertus.sch.id/?_gl=1*latjcz*_ga*MTc5Mjg2NTg4NS4xNzg5ODAzODY2*_ga_MG37403V9F*czE3ODk4ODc0NzckbzYkZzEkdDE3ODk4ODg1OTMkajM1JGwwJGgw">PPDB</a></li>
                    <li><a href="https://st-albertus.sch.id/pengumuman/">Pengumuman</a></li>
                    <li><a href="https://st-albertus.sch.id/berita/">Berita</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Kontak</h4>
                <p>Jl. Talang No. 1,<br>Malang, Jawa Timur</p>
                <p>(+62) 341 564556</p>
                <p>sma@dempoku.com</p>
            </div>
        </div>
    </body>
</html>