<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SMAS Katolik St. Albertus Malang</title>
        <link rel="stylesheet" href="/pages/assets/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head> 
    <body>
        <!-- Header -->
        <div class="navbar">
            <div class="container">
                <div class="navbar-box">
                    <div class="logo-header">
                        <img src="/pages/assets/images/logodempo.png" alt="Logo SMAK St. Albertus Malang" class="logo">
                        <h1>SMAK St. Albertus Malang</h1>
                    </div>
                    <ul class="menu">
                        <li><a href="/index.html">Beranda</a></li>
                        <li><a href="/pages/profil.html">Profil</a></li>
                        <li><a href="/pages/akademik.html">Akademik</a></li>
                        <li><a href="/pages/kesiswaan.html">Kesiswaan</a></li>
                        <li><a href="/pages/berita.html">Berita</a></li>
                        <li><a href="/pages/galeri.html">Galeri</a></li>
                        <li><a href="/pages/ppdb.html">PPDB</a></li>
                        <li><a href="/pages/kontak.html">Kontak</a></li>
                    </ul>
                </div>
            </div>
        </body>
    </body>
</html>